<h3>All Users</h3>

<div class="table-responsive">
    <table id="users-container" class="table">
        <tbody>
            <tr>
                <td>
                    <strong>User picture</strong>
                </td>
                <td>
                    <strong>Username</strong>
                </td>
                <td>
                    <strong>Profile</strong>
                </td>
            </tr>
            <tr *ngFor="let user of users">
                <td *ngIf="user" class="hidden-logged-user">
                    <img [src]="user.image" width="200rem" [alt]="user.username">
                </td>
                <td *ngIf="user" class="hidden-logged-user">
                    {{user.username}}
                </td>
                <td *ngIf="user" class="hidden-logged-user">
                    <div class="content-left col-xs-6">
                        <a appNavigationHover [routerLink]="['/profile', user.username]" class="btn btn-default col-xs-12">
                            <span>Go to profile</span>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>