<!-- main app container -->
<div class="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" id="main-navigation">
        <div class="container-fluid">
            <ul class="nav nav-pills navbar-left">
                <li class="active2">
                    <img class="navbar-logo" width="50rem" src="../assets/images/holidayLogo.png" alt="Logo" />
                </li>
                <li [@movePanel]='state' appNavigationHover class="active2"><a [routerLink]="['/home']">Home</a></li>
                <li *ngIf="isLoggedIn" [@movePanel]='state' appNavigationHover class="active2"><a [routerLink]="['/places']">All places</a></li>
                <li *ngIf="isLoggedIn" [@movePanel]='state' appNavigationHover class="active2"><a [routerLink]="['/createplace']">Add place</a></li>
            </ul>
            <ul class="nav nav-pills navbar-left">
                <li *ngIf="isLoggedIn" [@movePanel]='state' appNavigationHover class="active2"><a [routerLink]="['/createPartner']">Create partner</a></li>
                <li [@movePanel]='state' appNavigationHover class="active2"><a [routerLink]="['/partners']">View our partners</a></li>
                <li [@movePanel]='state' appNavigationHover class="active2"><a [routerLink]="['/feed']">Travel Posts</a></li>
            </ul>
            <ul class="nav nav-pills navbar-right" *ngIf="!isLoggedIn">
                <li [@movePanel]='state' appNavigationHover class="active2"><a [routerLink]="['/about']">About</a></li>
                <li [@movePanel]='state' appNavigationHover class="active2"><a [routerLink]="['/login']">Login</a></li>
                <li [@movePanel]='state' appNavigationHover class="active2"><a [routerLink]="['/register']">Register</a></li>
            </ul>
            <ul class="nav nav-pills navbar-right" *ngIf="isLoggedIn">
                <!-- dropdown with items that are not closing dropdown when you click on them -->
                <div class="dropdown col-md-4" dropdown>
                    <button class="btn btn-primary" dropdown-open>Wellcome back<span class="caret"></span></button>
                    <ul class="dropdown-menu" dropdown-not-closable-zone>
                        <li [@movePanel]='state' appNavigationHover class="active2"><a [routerLink]="['/profile']">Profile</a></li>
                        <li [@movePanel]='state' appNavigationHover class="active2"><a [routerLink]="['/users']">Users</a></li>
                    </ul>
                </div>
                <li [@movePanel]='state' appNavigationHover class="active2 col-md-offset-4"><a [routerLink]="['/logout']" (click)="logout()">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <div class="col-sm-12">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <!-- credits -->
    <footer class="navbar-fixed-bottom text-center">
        <div class="col-sm-4">
            <div id="socialNetworks">
                <span id="facebook">
                    <a href="https://www.facebook.com/HolidayPlaces-703916003107779/">
                    <img src="../assets/images/square-facebook-512.png" alt="">
                    </a>
                </span>
                <span id="instagram">
                    <a href="https://www.instagram.com/place6699/">
                    <img src="../assets/images/instagram.png" alt="">
                    </a>
                </span>
            </div>
        </div>
    </footer>
</div>