div.page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 150px
}

img.img-circle {
    box-shadow: 0 5px 20px black;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.no-shadow {
    box-shadow: none;
}

p.about {
    font-size: 16px
}

p.style {
    font-size: 16px;
    font-style: italic
}